@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-Book.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-BookItal.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-MediumItal.otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-Semibold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-SemiboldItal.otf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-BoldItal.otf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-Black.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-BlackItal.otf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-LightItal.otf');
  font-weight: 300;
  font-style: italic;
}

/* Variables */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-98: hsl(0, 0%, 98%);
  --clr-neutral-94: hsl(0, 0%, 94%);
  --clr-neutral-88: hsl(0, 0%, 88%);
  --clr-neutral-34: hsl(223, 18%, 34%);
  --clr-neutral-25: hsl(223, 14%, 25%);
  --clr-neutral-5: hsl(180, 4%, 5%);
  --clr-neutral-0: hsl(180, 0%, 0%);
  --clr-link: hsl(216, 93%, 52%);
  --clr-success: hsl(129, 78%, 30%);
  --base-font: 20px;
  --gutter: 20px;
}

/* Base */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osz-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  font-size: var(--base-font);
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--clr-neutral-98);
  color: var(--clr-neutral-25);
  font-size: var(--base-font);
}

h1 {
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1;
  margin: 30px 0;
}


h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  margin: 30px 0;
}

a {
  color: var(--clr-link);
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }

/* Grid */

[class*="col-"] {
  width: 100%;
  padding: 0px 20px;
}

.row {
  display: flex;
  margin-left: calc(0 - var(--gutter));
  margin-right: calc(0 - var(--gutter));
  flex-wrap: wrap;
}

.row::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

@media only screen and (min-width: 768px) {
  [class*="col-"] {
    /* float: left; */
    padding: var(--gutter) var(--gutter);
  }

  /* Remove any excess margins from first and last child so the line to container edges */
  [class*="col-"] > :first-child {
    margin-top: 0;
  }

  [class*="col-"] > :last-child {
    margin-bottom: 0;
  }

  .col-sm-1 { max-width: 8.33%; flex: 0 0 8.33%; }
  .col-sm-2 { max-width: 16.66%; flex: 0 0 16.66%; }
  .col-sm-3 { max-width: 25%; flex: 0 0 25%; }
  .col-sm-4 { max-width: 33.33%; flex: 0 0 33.33%; }
  .col-sm-5 { max-width: 41.66%; flex: 0 0 41.66%; }
  .col-sm-6 { max-width: 50%; flex: 0 0 50%; }
  .col-sm-7 { max-width: 58.33%; flex: 0 0 58.33%; }
  .col-sm-8 { max-width: 66.66%; flex: 0 0 66.66%; }
  .col-sm-9 { max-width: 75%; flex: 0 0 75%; }
  .col-sm-10 { max-width: 83.33%; flex: 0 0 83.33%; }
  .col-sm-11 { max-width: 91.66%; flex: 0 0 91.66%; }
  .col-sm-12 { max-width: 100%; flex: 0 0 100%; }

  .mobile-reverse {
    flex-direction: row-reverse;
  }
}



@media only screen and (min-width: 1024px) {

  .col-md-1 { max-width: 8.33%; flex: 0 0 8.33%; }
  .col-md-2 { max-width: 16.66%; flex: 0 0 16.66%; }
  .col-md-3 { max-width: 25%; flex: 0 0 25%; }
  .col-md-4 { max-width: 33.33%; flex: 0 0 33.33%; }
  .col-md-5 { max-width: 41.66%; flex: 0 0 41.66%; }
  .col-md-6 { max-width: 50%; flex: 0 0 50%; }
  .col-md-7 { max-width: 58.33%; flex: 0 0 58.33%; }
  .col-md-8 { max-width: 66.66%; flex: 0 0 66.66%; }
  .col-md-9 { max-width: 75%; flex: 0 0 75%; }
  .col-md-10 { max-width: 83.33%; flex: 0 0 83.33%; }
  .col-md-11 { max-width: 91.66%; flex: 0 0 91.66%; }
  .col-md-12 { max-width: 100%; flex: 0 0 100%; }

  .mobile-reverse {
    float: right;
    flex-direction: row-reverse;
  }
}

/* Box */

.box {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

/* Buttons */

.btn {
  display: block;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
  padding: 15px 50px 15px 20px; ;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 20px;
  font-weight: 600;
  color: var(--clr-neutral-100);
}

.btn-success {
  background-color: var(--clr-success);
}

.btn-next:after {
  content: '';
  display: block;
  position: absolute;
  right: 20px;
  top: 15px;
  width: 20px;
  height: 20px;
  background-image: url(img/arrow-left-white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Images */

.svg-inherit {
  fill: currentColor;
}

/* Lists */

.inline-list,
.unstyled-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.inline-list li {
  display: inline-block;
}

.sidebar-links a {
  display: block;
  position: relative;
  margin-bottom: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 18px;
}

.sidebar-links a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  background-image: url(img/arrow-left-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Overlays */

.overlay-wrapper {
  position: relative;
}

.overlay-wrapper > *:not(.overlay) {
  position: relative;
  z-index: 10;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.43);
}

/* Service Navigation */


.service-navigation li {
  margin: 0px -20px;
  padding: 0px 20px;
}

.service-navigation h2,
.service-navigation h3,
.service-navigation h4 {
  margin: 0px;
}

.service-navigation h2 > a,
.service-navigation h3 > a,
.service-navigation h4 > a {
  font-weight: 600;
  color: var(--clr-neutral-0);
  text-decoration: none;
}

.service-navigation h2 {
  font-size: 1rem;;
  line-height: 1;
}

.service-navigation h3 {
  font-size: 1rem;;
  line-height: 1;
}

.service-navigation h4 {
  font-size: 0.875rem;;
  line-height: 1;
}


.service-navigation a {
  display: block;
  margin: 0px;
  padding: 10px 20px 10px 0px;
}

.service-navigation hr {
  border: 0px;
  border-top: var(--clr-neutral-88) 1px solid;
}

.service-navigation-level-2 {
  display: none;
}

.accordion-active .service-navigation-level-2{
  display: block;
}

.service-navigation-level-2 a {
  color: var(--clr-neutral-25);
  opacity: 0.7;
  font-weight: 400;
}

.service-navigation a:after {
  background-image: url(img/arrow-left-black.svg);
  top: 10px;
}

.service-navigation li.active {
  background-color: var(--clr-neutral-94);
}

.service-navigation li.active a {
  font-weight: 600;
  color: var(--clr-neutral-5);
}

/* Accordion */

a.accordion-expand {
  position: relative;
}

a.accordion-expand:after {
  content: '';
  display: block;
  position: absolute;
  right: 3px;
  top: 10px;
  width: 17px;
  height: 17px;
  background-image: url(img/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.accordion-active a.accordion-expand:after {
  background-image: url(img/minus.svg);
}

/* Layout */

.wrapper {
  max-width: 1240px;
  margin: 0px auto;
  padding: 0px var(--gutter);
}

.wrapper.wrapper--no-gutter {
  padding: 0px 0px;
}

.header {
  padding: 20px 0 70px;
  background-size: cover;
  background-position: center;
  color: var(--clr-neutral-100);
}

.bhcc-logo {
  width: 100px;
}

.header-title {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-family: "Sentinel", serif;
  font-size: 1.875rem;;
  line-height: 1;
  letter-spacing: .01em;
  font-weight: 700;
}

.header-title:after {
  content: '';
  width: 70px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  display: block;
}

.header-subtitle {
  max-width: 420px;
  font-size: 1.125rem;;
  line-height: 1.4;
}

.breadcrumb {
  background-color: var(--clr-neutral-94);
  color: var(--clr-neutral-5);
  padding: 10px 0px;
  font-size: 0.875rem;;
}

.breadcrumbs {
  display: inline-block;
}

.breadcrumbs li {
  padding-left: 20px;
  position: relative;
}

.breadcrumbs li:first-child {
  padding-left: 10px;
}

.breadcrumbs a {
  color: var(--clr-neutral-5);
}

.breadcrumb li:not(:first-child):before {
  content: '/';
  position: absolute;
  left: 7px;
}

@media only screen and (max-width: 767px) {

  .breadcrumb {
    display: none;
  }

  .breadcrumb-prefix {
    display: none;
  }

  .breadcrumbs li {
    display: none;
    padding-left: 0px;
  }

  .breadcrumbs li:before {
    display: none;
  }

  .breadcrumbs li:nth-last-child(2) {
    display: inline;
  }
}

.page-content {
  max-width: 590px;
  max-width: 80ch;
}

.page-title {
  position: relative;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.page-title:after {
  content: '';
  width: 70px;
  height: 1px;
  background-color: var(--clr-neutral-25);
  position: absolute;
  bottom: 0px;
  display: block;
}

.page-content p {
  line-height: 1.25;
}

.page-subtitle {
  font-size: 1.125rem;;
  line-height: 20px;
  margin-bottom: 30px;
}

.sidebar h2 {
  font-size: 1.25rem;;
  color: var(--clr-neutral-34);
}
