@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-Book.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-BookItal.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-MediumItal.otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-Semibold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-SemiboldItal.otf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-BoldItal.otf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-Black.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-BlackItal.otf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
    src: url('/assets/fonts/HCo_Sentinel/Sentinel-LightItal.otf');
  font-weight: 300;
  font-style: italic;
}

/* Variables */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-98: hsl(0, 0%, 98%);
  --clr-neutral-96: hsl(0, 0%, 96%);
  --clr-neutral-94: hsl(0, 0%, 94%);
  --clr-neutral-88: hsl(0, 0%, 88%);
  --clr-neutral-76: hsl(0, 0%, 76%);
  --clr-neutral-34: hsl(223, 18%, 34%);
  --clr-neutral-25: hsl(223, 14%, 25%);
  --clr-neutral-5: hsl(180, 4%, 5%);
  --clr-neutral-0: hsl(180, 0%, 0%);
  --clr-link: hsl(216, 95%, 49%);
  --clr-accent: hsl(339, 87%, 48%);
  --clr-accent2: hsl(189, 100%, 30%);
  --clr-success: hsl(129, 78%, 30%);
}

/* Base */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osz-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--clr-neutral-98);
  color: var(--clr-neutral-5);
  font-size: 16px;
}

h1 {
  font-size: 26px;
  font-weight: 600;
  line-height: 1;
  margin: 30px 0;
}


h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  margin: 30px 0;
}

a {
  color: var(--clr-link);
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }

/* Grid */

[class*="col-"] {
  width: 100%;
  padding: 0px 20px; 
}

.row {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
  flex-wrap: wrap;
}

.row::after {
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}

@media only screen and (min-width: 768px) {
  [class*="col-"] {
    float: left;
    padding: 20px 20px; 
  }

  .col-sm-1 { max-width: 8.33%; flex: 0 0 8.33%; }
  .col-sm-2 { max-width: 16.66%; flex: 0 0 16.66%; }
  .col-sm-3 { max-width: 25%; flex: 0 0 25%; }
  .col-sm-4 { max-width: 33.33%; flex: 0 0 33.33%; }
  .col-sm-5 { max-width: 41.66%; flex: 0 0 41.66%; }
  .col-sm-6 { max-width: 50%; flex: 0 0 50%; }
  .col-sm-7 { max-width: 58.33%; flex: 0 0 58.33%; }
  .col-sm-8 { max-width: 66.66%; flex: 0 0 66.66%; }
  .col-sm-9 { max-width: 75%; flex: 0 0 75%; }
  .col-sm-10 { max-width: 83.33%; flex: 0 0 83.33%; }
  .col-sm-11 { max-width: 91.66%; flex: 0 0 91.66%; }
  .col-sm-12 { max-width: 100%; flex: 0 0 100%; } 

  .mobile-reverse {
    float: right;
    flex-direction: row-reverse;
  }
}



@media only screen and (min-width: 1024px) {
  [class*="col-"] {
    float: left;
    padding: 20px 20px; 
  }

  .col-md-1 { max-width: 8.33%; flex: 0 0 8.33%; }
  .col-md-2 { max-width: 16.66%; flex: 0 0 16.66%; }
  .col-md-3 { max-width: 25%; flex: 0 0 25%; }
  .col-md-4 { max-width: 33.33%; flex: 0 0 33.33%; }
  .col-md-5 { max-width: 41.66%; flex: 0 0 41.66%; }
  .col-md-6 { max-width: 50%; flex: 0 0 50%; }
  .col-md-7 { max-width: 58.33%; flex: 0 0 58.33%; }
  .col-md-8 { max-width: 66.66%; flex: 0 0 66.66%; }
  .col-md-9 { max-width: 75%; flex: 0 0 75%; }
  .col-md-10 { max-width: 83.33%; flex: 0 0 83.33%; }
  .col-md-11 { max-width: 91.66%; flex: 0 0 91.66%; }
  .col-md-12 { max-width: 100%; flex: 0 0 100%; } 

  .mobile-reverse {
    float: right;
    flex-direction: row-reverse;
  }
}

/* Box */

.box {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.16);
  border: 1px solid var(--clr-neutral-96);
  border-radius: 5px;
}

/* Buttons */

.btn {
  display: block;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
  padding: 15px 50px 15px 20px; ;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--clr-neutral-100);
}

.btn-success {
  background-color: var(--clr-success);
}

.btn-next:after {
  content: '';
  display: block;
  position: absolute;
  right: 20px;
  top: 15px;
  width: 20px;
  height: 20px;
  background-image: url(img/arrow-left-white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Images */

.svg-inherit {
  fill: currentColor;
}

/* Lists */

.inline-list,
.unstyled-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.inline-list > li {
  display: inline-block;
}

.sidebar-links a {
  display: block;
  position: relative;
  margin-bottom: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.sidebar-links a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  background-image: url(img/arrow-left-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-list {
  list-style: none;
  padding: 0px;
}

.icon-list li {
  margin: 10px 0;
  padding-left: 35px;
  position: relative;
}

.icon-list li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-list-time:before {
  background-image: url(img/icon-clock.svg);
}

.icon-list-location:before {
  background-image: url(img/icon-location.svg);
}

.icon-list-call:before {
  background-image: url(img/icon-call.svg);
}

.icon-list-email:before {
  background-image: url(img/icon-email.svg);
}



/* Overlays */

.overlay-wrapper {
  background-color: var(--clr-neutral-25);
  position: relative;
}

.overlay-wrapper > *:not(.overlay) {
  position: relative;
  z-index: 10;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.43);
}

/* Service Navigation */


.service-navigation li {
  margin: 0px -20px;
  padding: 0px 20px;
}

.service-navigation h2,
.service-navigation h3,
.service-navigation h4 {
  margin: 0px;
}

.service-navigation h2 > a,
.service-navigation h3 > a,
.service-navigation h4 > a {
  font-weight: 600;
  color: var(--clr-neutral-0);
  text-decoration: none;
}

.service-navigation h2 {
  font-size: 16px;
  line-height: 1;
}

.service-navigation h3 {
  font-size: 16px;
  line-height: 1;
}

.service-navigation h4 {
  font-size: 14px;
  line-height: 1;
}


.service-navigation a {
  display: block;
  margin: 0px;
  padding: 10px 20px 10px 0px;
}

.service-navigation hr {
  border: 0px;
  border-top: var(--clr-neutral-88) 1px solid;
}

.accordion-body {
  display: none;
}

.accordion-active .accordion-body {
  display: block;
}

.service-navigation-level-2 a {
  color: var(--clr-neutral-5);
  opacity: 0.7;
  font-weight: 400;
}

.service-navigation a:after {
  background-image: url(img/arrow-left-black.svg);
  top: 10px;
}

.service-navigation li.active {
  background-color: var(--clr-neutral-94);
}

.service-navigation li.active a {
  font-weight: 600;
  color: var(--clr-neutral-5);
}

.service-navigation a.icon-link {
  position: relative;
  padding-left: 35px;
}

.service-navigation a.icon-link-home {
  color: var(--clr-accent);
}

.service-navigation a.icon-link img {
  position: absolute;
  left: 0px;
  top: 7px;
}

/* Contact Card */

.contact-card {
  margin-bottom: 20px;
  padding: 0px;
}

.contact-card-wrapper {
  padding: 15px 15px;

}

.contact-card h3 {
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 10px;
}

.contact-card h3 a {
  color: var(--clr-neutral-5);
  text-decoration: none;
}

.contact-card-header {
  position: relative;
  padding-right: 15px;
}

.contact-card-tag {
  position: absolute;
  top: 2px;
  right: -17px;
  display: inline-block;
  padding: 2px 5px;
  max-width: 80px;
  background-color: var(--clr-neutral-25);
  color: var(--clr-neutral-100);
  font-weight: 600;
  font-size: 10px;
}

.contact-card-body p,
.contact-card-body ul {
  font-size: 14px;
  line-height: 18px;
}

.contact-card-actions {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.contact-card-actions li {
  width: 50%;
}

.contact-card-actions li:nth-child(2) {
  border-left: 1px solid var(--clr-neutral-100);
}

.contact-card-actions a {
  min-height: 40px;
  padding: 10px;
  display: block;
  background-color: var(--clr-neutral-25);
  text-align: center;
  font-weight: 700;
  color: var(--clr-neutral-100);
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

.contact-card-actions span {
  display: inline-block;
  padding-left: 25px;
  position: relative;
}

.contact-card-actions span:before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-card-actions-message span:before {
  background-image: url(img/icon-email-white.svg);
}

.contact-card-actions-phone span:before {
  background-image: url(img/icon-call-white.svg);
}

.contact-card-council .contact-card-tag,
.contact-card-council .contact-card-actions a {
  background-color: var(--clr-accent);
}

.contact-card-council h3 a {
  color: var(--clr-accent);
}

.contact-card-partner .contact-card-tag,
.contact-card-partner .contact-card-actions a {
  background-color: var(--clr-accent2);
}

.contact-card-partner h3 a {
  color: var(--clr-accent2);
}

.contact-card .sidebar-links a {
  margin-bottom: 0px;
}

@media only screen and (min-width: 768px) {
  .contact-card-actions {
    display: none;
  }
}

/* Accordion */

a.accordion-expand {
  position: relative;
}

a.accordion-expand:after {
  content: '';
  display: block;
  position: absolute;
  right: 3px;
  top: 10px;
  width: 17px;
  height: 17px;
  background-image: url(img/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.accordion-active a.accordion-expand:after {
  background-image: url(img/minus.svg);
}

/* Dropdown */

.dropdown {
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid var(--clr-neutral-25);
  border-bottom: 1px solid var(--clr-neutral-25);
  margin-bottom: 40px;
}

.dropdown-header {
  font-size: 16px;
  margin: 0px;
}

.dropdown-header a {
  display: block;
  text-decoration: none;
  color: var(--clr-neutral-25);
}

.dropdown-body {
  display: none;
}

.dropdown-header a {
  position: relative;
}

.dropdown-header a:after {
  content: '';
  display: block;
  position: absolute;
  right: 3px;
  top: 0px;
  width: 17px;
  height: 17px;
  background-image: url(img/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown-active a:after {
  background-image: url(img/minus.svg);
}

/* Webform */

.sidebar-form-submission a {
  display: inline;
}

.sidebar-form-submission li {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

/* Layout */

.wrapper {
  max-width: 1240px;
  margin: 0px auto;
  padding: 0px 20px;
}

.header {
  padding: 20px 0 70px;
  background-size: cover;
  background-position: center;
  color: var(--clr-neutral-100);
}

.header-navigation {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 90px;
}

.bhcc-logo {
  width: 90px;
}

.header-title {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-family: "Sentinel", serif;
  font-size: 30px;
  line-height: 1;
  letter-spacing: .01em;
  font-weight: 700;
}

.header-title:after {
  content: '';
  width: 70px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  display: block;
}

.header-subtitle {
  max-width: 420px;
  font-size: 18px;
  line-height: 20px;
}

.breadcrumb {
  background-color: var(--clr-neutral-94);
  color: var(--clr-neutral-5);
  padding: 10px 0px;
  font-size: 14px;
}

.breadcrumbs {
  display: inline-block;
}

.breadcrumbs li {
  padding-left: 20px;
  position: relative;
}

.breadcrumbs li:first-child {
  padding-left: 10px;
}

.breadcrumbs a {
  color: var(--clr-neutral-5);
}

.breadcrumb li:not(:first-child):before {
  content: '/';
  position: absolute;
  left: 7px;
}

@media only screen and (max-width: 767px) {

  .breadcrumb {
    display: none;
  }

  .breadcrumb-prefix {
    display: none;
  }

  .breadcrumbs li {
    display: none;
    padding-left: 0px;
  }

  .breadcrumbs li:before {
    display: none;
  }

  .breadcrumbs li:nth-last-child(2) {
    display: inline;
  } 
}

.page-content {
  max-width: 590px;
  max-width: 80ch;
}

.page-title {
  position: relative;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.page-title:after {
  content: '';
  width: 70px;
  height: 1px;
  background-color: var(--clr-neutral-25);
  position: absolute;
  bottom: 0px;
  display: block;
}

.page-content p {
  line-height: 1.25;
}

.page-subtitle {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 30px;
}

.sidebar h2 {
  font-size: 20px;
  color: var(--clr-neutral-34);
}

.triage-results {
  border-bottom: var(--clr-neutral-88) 1px solid;
}


/* Header Navigation */

.header-navigation-image {
  float: left;
}

.header-navigation-menu {
  padding-top: 20px;
  float: right;
}

.header-navigation-search {
  float: right;
  padding-top: 10px
}

.header-navigation-search input {
  border-radius: 100px;
  padding: 10px 20px;
  border: 1px solid var(--clr-neutral-5);
  font-size: 14px;
}

.header-top {
  position: relative;
  background-color: var(--clr-neutral-100);
}

.header-navigation-menu-child {
  position: absolute;
  top: 90px;
  left: 0px;
  z-index: 30;
  width: 100%;
  display: none;
}

.header-navigation-menu-child > .wrapper {
  max-width: 796px;
  background-color: var(--clr-neutral-100);
  padding: 0px;
  border-top: 1px solid var(--clr-neutral-96);
  display: flex;
}

.header-navigation-menu-child [class*="col-"] {
  padding: 0px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-left: 1px solid var(--clr-neutral-88);
}

.header-navigation-menu-child [class*="col-"]:first-child {
  border-left: 0px;
}

.header-navigation-menu-child a {
  color: var(--clr-neutral-5);
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
}

.header-navigation-menu-child li {
  margin-bottom: 10px;
}

.header-navigation-menu-child li:last-child {
  margin-bottom: 0px;
}

a.header-navigation-menu-parent {
  color: var(--clr-neutral-25);
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  padding-right: 25px;
  margin-right: 50px;
  position: relative;
}

a.header-navigation-menu-parent:after {
  content: '';
  display: block;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 17px;
  height: 17px;
  background-image: url(img/arrow-left-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(90deg);
  background-position: 6px;
  transition: transform .3s ease-in-out;
}

a.header-navigation-menu-parent.menu-active {
  color: var(--clr-accent)
}

a.header-navigation-menu-parent.menu-active:after {
  transform: rotate(270deg);
}